body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    padding: 80px 60px;
    background-color: rgb(245, 245, 245);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(199, 199, 199);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
}

header h1 {
    margin: 0 24px;
    font-weight: 700;
    cursor: pointer;
}
header h1 span {
    color: rgb(233, 59, 59);
}

header .header-input {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 70px;
    max-width: 600px;
}

header .header-input input{
    padding: 12px 20px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    width: 0;
    flex: 1;
}

header .header-input i {
    font-size: 18px;
    margin-left: -30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

header .header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 325px;
}

header .header-icons div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    cursor: pointer;
    transition: all 0.1s;
}

header .header-icons div .tooltip {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 12px;
    height: 30px;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    /* Take this off for a cool effect */
    /* pointer-events: none; */
    transition: all 0.1s;
}

header .header-icons div .number {
    background-color: rgb(233, 59, 59);
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    pointer-events: none;
    font-size: 12px;
}

header .header-icons div:hover {
    background-color: rgb(236, 236, 236);
    color: black;
}

header .header-icons div:hover .tooltip {
    opacity: 1;
}

header .header-icons div i {
    font-size: 22px;
}