.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.main-grid .main-grid-ind {
    height: 340px;
    position: relative;
    cursor: pointer;
    transition: all 0.1s;
    border-radius: 10px;
}

.main-grid .main-grid-ind:hover,
.special:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.main-grid .main-grid-ind img,
.special img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.main-grid .text,
.special .text {
    background-color: rgba(209, 209, 209, 0.8);
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 4px 10px;
    width: 180px;
}
.main-grid .text p,
.special .text p {
    margin: 4px 0;
}

.main-grid .text button,
.special .text button {
    font-family: 'Roboto Slab', serif;
    padding: 6px 20px;
    border: none;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.main-grid .text button:active,
.special .text button:active {
    background-color: rgb(65, 65, 65);
}

.special {
    margin: 20px 0;
    height: 340px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.special .chefs-special {
    position: absolute;
    background-color: black;
    color: white;
    top: 20px;
    padding: 4px 10px;
}